pages:
    - name: Home
      # Optionally, if you only have a single page you can hide the desktop navigation for a cleaner look
      # hide-desktop-navigation: true
      columns:
        - size: small
          widgets:
            - type: calendar
              first-day-of-week: monday
            - type: rss
              limit: 10
              collapse-after: 3
              cache: 12h
              feeds:
                - url: https://selfh.st/rss/
                  title: selfh.st
                  limit: 2
                - url: https://archlinux.org/feeds/news/
                  title: Arch Linux
                  limit: 4

            # - type: twitch-channels
            #   channels:
            #     - theprimeagen
            #     - j_blow
            #     - piratesoftware
            #     - cohhcarnage
            #     - christitustech
            #     - EJ_SA

        - size: full
          widgets:
            - type: monitor
              title: Services
              sites:
                - title: Authentik
                  url: https://auth.dnsk.xyz
                  icon: di:authentik
                - title: Pihole
                  url: http://10.0.10.200/admin/login.php
                  icon: di:pi-hole
                - title: Glance
                  url: https://home.dnsk.xyz
                  icon: di:glance
                - title: Uptime Kuma
                  url: https://status.dnsk.xyz
                  icon: di:uptime-kuma
                - title: Grafana
                  url: https://metrics.dnsk.xyz
                  icon: di:grafana
            - type: videos
              channels:
                # Linus Tech Tips
                - UCXuqSBlHAE6Xw-yeJA0Tunw
                # Mental Outlaw
                - UC7YOGHUfC1Tb6E4pudI9STA
                # Formula 1
                - UCB_qr75-ydFVKSF9Dmo6izg
                # Veritasium
                - UCHnyfMqiRRG1u-2MsSQLbXA
            - type: group
              widgets:
                - type: reddit
                  subreddit: technology
                  show-thumbnails: true
                - type: reddit
                  subreddit: selfhosted
                  show-thumbnails: true
        - size: small
          widgets:
            - type: weather
              location: ${WEATHER_LOCATION}
              # alternatively "imperial"
              units: metric
              # alternatively "24h"
              hour-format: 12h
              # Optionally hide the location from being displayed in the widget
              # hide-location: true
            - type: dns-stats
              service: pihole
              url: http://10.0.10.200
              token: ${PIHOLE_API_KEY}
            - type: markets
              # The link to go to when clicking on the symbol in the UI,
              # {SYMBOL} will be substituded with the symbol for each market
              symbol-link-template: https://www.tradingview.com/symbols/{SYMBOL}/news
              markets:
                - symbol: SPY
                  name: S&P 500
            - type: repository
              repository: dnikoloski/infrastructure-as-code
              pull-requests-limit: 5
              issues-limit: 3
              commits-limit: 3

            # - type: releases
            #   cache: 1d
            #   # Without authentication the Github API allows for up to 60 requests per hour. You can create a
            #   # read-only token from your Github account settings and use it here to increase the limit.
            #   # token: ...
            #   repositories:
            #     - glanceapp/glance
            #     - go-gitea/gitea
            #     - immich-app/immich
            #     - syncthing/syncthing
