apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: observability
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "69.3.0"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: observability
      interval: 12h
  values:
    kubeControllerManager:
      service:
        selector:
          k8s-app: kube-controller-manager
    kubeScheduler:
      service:
        selector:
          k8s-app: kube-scheduler

    alertmanager:
      enabled: false

    prometheus:
      prometheusSpec:
        podMonitorNamespaceSelector:
          matchLabels:
            app.kubernetes.io/component: observability

        # Discover all PodMonitors, Probes, PrometheusRules and ServiceMonitors
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false

    grafana:
      grafana.ini:
        date_formats:
          default_week_start: monday

      sidecar:
        datasources:
          enabled: true
          label: grafana_datasource
          labelValue: "1"
        dashboards:
          enabled: true
          label: grafana_dashboard
          labelValue: "1"
          searchNamespace: observability
          provider:
            allowUiUpdates: true

    persistence:
      enabled: true
      type: pvc
      accessModes:
        - ReadWriteOnce
      size: 4Gi
